@*
/*
* John Moreau
* CSS233
* 12/5/2023
*/
*@

@{
    ViewData["Title"] = "Tic Tac Toe";
    int GetSpeed(int id) => id == Model.LastId ? 4 : 15;
    var disabledCheck = Model.GameOver ? "disabled" : "";
    var hiddenCheck = Model.GameOver ? "" : "hidden";
    var messageTypeCheck = Model.Tie ? "alert-warning" : "alert-success";
}
@model TicTacToe;


<div class="container text-center">
    <div class="container">
        <div class="alert @messageTypeCheck mt-4 @hiddenCheck">
            @(Model.Tie ? "It's a tie!" : Model.CurrentPlayer + " wins!")
        </div>
        <div class="mb-3">
            <a asp-controller="Home" asp-action="NewGame" class="">
                New Game
            </a>
        </div>
        <div>
            <form asp-action="Update" method="post">

                <input type="hidden" asp-for="CurrentPlayer" />
                <input type="hidden" asp-for="Wins" />

                @* This was needed when I couldn't get the array to bind when submitting to the controller.*@
                @*<input type="hidden" asp-for="BoardString" value='@Json.Serialize(Model.Board)' />*@
               
                <div class="custom-flex-row justify-content-center">
                    @for (var i = 0; i < Model.Board.Length; ++i)
                    {
                        @* This binds properly by using the same name for each instance.*@
                        <input type="hidden" asp-for="@Model.Board" name="Board" value="@Model.Board[i]" /> @* Add each board position to a hidden field to bind back to the model on submit - Why can't you do a single hidden field for the full array? Grr.' *@
                        <div class="custom-flex-item">
                            <button type="submit" class="button-square" name="LastId" value=@i @disabledCheck>
                                <canvas id="@i" width="100" height="100"></canvas>
                            </button>
                        </div>
                    }
                </div>
            </form>
        </div>
        <div class="mt-5">
            <h5>Wins</h5>
            <p>@Model.Wins?.ToString()</p>
            <p><strong>X: </strong>@Model.GetWinCount('X') | <strong>O: </strong>@Model.GetWinCount('O')</p>
        </div>

    </div>
</div>
@*Enables the drawing effect*@
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        @for (var i = 0; i < Model.Board.Length; ++i) 
        {
            <text>drawLetters('@i', '@Model.Board[i]', '@GetSpeed(i)'); </text>
        }
    }, false);
</script>
